/* 
#######################
        GENERAL
#######################
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
font-family: 'Roboto', sans-serif;
*/
/* 
farbe text: 
#659d89
#333
#666
#000
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background: #eee;
}
article {
}
section {
    border-bottom: 1px solid #ccc;
}
/* 
#######################
        HEADER
#######################
*/
header article {
    width: 80%;
    margin: 0 auto;
}
header section article nav a {
    display: inline-block;
    color: #659d89;
    text-decoration: none;
    font-size: 15px;
    padding: 5vh 1vw 0 0;
}
header section article h1 {
    color: #659d89;
    font-size: 55px;
    font-weight:400;
    margin:20vh 0 1vh 0;
}
header section article p {
    color: #000;
    font-size: 50px;
    font-weight:400;
    width:40vw;
}
header section article ul {
    list-style:none;
    text-align: right;
    margin: 5vh 0;
}
header section article ul li a img {
    width:2vw;
    margin:1vh 0;
}
header section article p:last-of-type {
    font-size: 15px;
    margin:5vh 0;
}
/* 
#######################
        MAIN
#######################
*/
main section {
    padding-bottom: 10vh;
}
main section:first-of-type article {
    width: 80%;
    margin: 0 auto;
}
main section article h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 10vh 0 2vh 0;
}
main section article p {
    margin-bottom: 10vh;
}
main section article div {
    text-align:center;
    margin:0 auto;
}
main section article img {
    width:25%;
    margin:1%;
}
main section article img:hover {
    box-shadow: 0px 0px 30px 0px black;}
main section:nth-of-type(2) article {
    width: 80%;
    margin:0 auto;
}
main section:nth-of-type(2) article:nth-of-type(even) {
    width: 80%;
    margin:0 auto;
    text-align: right;
}
main section:nth-of-type(2) h2 {
    margin: 10vh 0 10vh 10vw;
}
main section:nth-of-type(2) article div {
    width:50%;
    display:inline-block;
    text-align: center;
    margin: 10vh;
}
main section:nth-of-type(2) article div img {
    width: 100%;
}
main section:nth-of-type(2) article div p {
    margin: 1vh 0;
    font-size: 15px;
    color: #666;
}
main section:nth-of-type(2) article div span {
    margin: 1vh 0;
    font-size: 18px;
    color: #000;
}
/* 
#######################
        FOOTER
#######################
*/

footer {
    text-align: center;
}
footer article {
    padding:2vh 0;
}
footer article p {
    font-size: 25px;
    margin: 10vh auto;
    color: #666;

}
footer article span {
    font-size: 15px;
    color: #666;
}